{% extends './Themes/Business/base.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block body %}
    <div class="min-h-screen flex items-center justify-center bg-white text-neutral-900 p-6">
        <div class="w-full max-w-2xl text-center">
            <h1 class="text-3xl font-extrabold tracking-tight mb-3">{{ newsletter.title|default('Restons en contact !')}}</h1>
            <p class="text-neutral-500 mb-8">
                {{ newsletter.subtitle|default('Profité d\'avantage spéciaux') }}
            </p>

            {% include 'Themes/Business/newsletter/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
