<!DOCTYPE html>
<html data-theme="corporate" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard d'administration{% endblock %}</title>
        <meta name="description" content="{{ settings.description|default('Bienvenue sur mon site') }}">
        <link rel="icon" href="{{ settings.favicon }}">

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script  src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
            <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
        {% endblock %}

    </head>
    <body>

    <div class="drawer drawer-open">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />

        <div class="drawer-content p-4">
            {% include 'components/toast.html.twig' %}
            {% block body %}{% endblock %}
        </div>

        {% include 'admin/components/Sidebar.html.twig' %}
    </div>
    </body>
</html>
