{%  extends 'admin/base.html.twig' %}

{% block title %}Paramètres du site{% endblock %}

{% block body %}
    <section>

        {% include'admin/components/Header.html.twig' with {
            title: 'Modifications des paramètres',
            subtitle: 'Modification des pages sans restriction'
        } %}

        {%  include ('admin/settings/_form.html.twig') %}

    </section>
{% endblock %}
